<p id="notice"><%= notice %></p>

<h2>Entries</h2>
<h3>(Most Recent First)</h3>

<% if @entries.blank? %>
<h2>There are no entries containing your term.</h2>

<% else %>
  <table>
    <thead>
      <tr>
        <th> License Plate </th>
        <th> Confidence Value </th>
        <th> Date & Time </th>
        <th> Location </th>
        <th> Camera ID </th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @entries.reverse.each do |entry| %>
        <tr>
          <td><%= entry.LP %></td>
          <td><%= entry.confidenceVal %></td>
          <td><%= (Time.strptime(entry.unixTime.to_s, '%Q').strftime("%Y-%m-%d %k:%M:%S.%L")).to_s %></td>
          <td><%= entry.siteName %></td>
          <td><%= entry.cameraID %></td>
          <td><%= link_to 'Details', entry %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% end %>