<p id="notice"><%= notice %></p>

<h2>Details</h2>

<p>
  <strong>License Plate:</strong>
  <%= @entry.LP %>
</p>

<p>
  <strong>Confidence Value:</strong>
  <%= @entry.confidenceVal %>
</p>

<p>
  <strong>Date & Time:</strong>
  <%= (Time.strptime(@entry.unixTime.to_s, '%Q').strftime("%Y-%m-%d %k:%M:%S.%L")).to_s %>
</p>

<p>
    <strong>Location:</strong>
    <%= @entry.siteName %>
</p>

<p>
    <strong>Camera ID:</strong>
    <%= @entry.cameraID %>
</p>

<p>
  <strong>Jpglink:</strong>
  <%= image_tag @entry.siteName+"-cam"+@entry.cameraID.to_s+"-"+@entry.unixTime.to_s %>
</p>

<%= link_to 'Back to List', entries_path %>
