<link href="http://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type="text/css" />
<!DOCTYPE html>
<html>
  <head>
    <title>WebInterface</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <h1>LP Database</h1>

  <h2>Search</h2>

    <%= form_tag(entries_path, :method => 'get', id: 'lp-search-form') do %>
      <strong> Partial LP:</strong> <%= text_field_tag :searchLP, params[:searchLP], placeholder: 'Plate Number' %>
      <%= submit_tag 'Search', :name => nil %>

    <% end %>

    <%= form_tag(entries_path, :method => 'get', id: 'date-search-form') do %>
      <strong> On Day:</strong> <%= text_field_tag :searchDate, params[:searchDate], placeholder: 'yyyy-mm-dd' %>
      <%= submit_tag 'Search', :name => nil %>

    <% end %>

    <strong><%= link_to 'Back to List', entries_path %></strong>

  <body>
    <body class="skins-air">
    <%= yield %>
  </body>

  
</html>
